@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We strive to safeguard user data by maintaining high security standards. However, we do not assume liability for any data breaches. User data will not be shared with third parties unless explicit consent is obtained from the user.</p>